@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');
@mixin border {
	border: 0;
	outline: 0;
	border-radius: 8px;
	padding: 0 16px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: linear-gradient(#93a5cf, #e4efe9);
	height: 100%;
	overflow: hidden;
	font-family: 'Anonymous Pro', monospace;
	font-size: 18px;
}
a {
	text-decoration: none;
}
ul,
ol {
	list-style: none;
}
.main-wrap {
	width: 600px;
	height: calc(100vh - 160px);
	margin: 80px auto;
	background-color: whitesmoke;
	box-shadow: 0 8px 16px lightslategrey;
	@media (max-width: 768px) {
		width: calc(100% - 48px);
		height: calc(100vh - 48px);
		margin: 24px;
	}
}
.header {
	padding: 16px 0;
	text-align: center;
	background-color: lightsteelblue;
	
}
.page__grid {
	height: 100%;
	padding: 24px 56px;
	@media (max-width: 768px) {
		padding: 24px;
	}
}
.form {
	display: flex;
	flex-direction: column;
	#clear {
		margin-left: auto;
		cursor: pointer;
	}
	&__input {
		width: 100%;
		min-height: 44px;
		display: block;
		margin: 4px 0 8px 0;
		cursor: pointer;
		font-family: 'Anonymous Pro', monospace;
		font-size: 18px;
		@include border();
	}
	&__button {
		width: 100%;
		height: 44px;
		background-color: lightskyblue;
		margin: 0 0 16px 0;
		font-family: 'Anonymous Pro', monospace;
		font-size: 18px;
		cursor: pointer;
		@include border();
		transition: all 0.3s ease;
		&:hover {
			background-color: mediumturquoise;
		}
	}
}
.page__list {
	li {
		width: 100%;
		min-height: 50px;
		position: relative;
		display: flex;
		align-items: flex-start;
		background-color: white;
		margin: 0 0 8px;
		@include border();
		padding: 8px 16px;
		p {
			display: block;
			width: 50%;
			flex: 1 1 50%;
			word-wrap: break-word;
			align-self: center;
			margin-right: 16px;
		}
	}
}
.list {
	width: 100%;
	height: calc(100vh - 50vh);
	overflow-y: scroll;
	&__item {
		display: block;
	}
	.item__button {
		width: 36px;
		height: 36px;
		background-color: gainsboro;
		margin-left: 12px;
		cursor: pointer;
		@include border();
		padding: 0;
		transition: all 0.3s ease;
		&:hover {
			background-color: lightcoral;
		}
		&:not(:last-child) {
			margin-left: auto;
			&:hover {
				background-color: lightseagreen;
			}
		}
	}
}
